@media screen and (max-width: 620px){
    .container{
        display: flex;
        flex-direction: column;
    }

    .filme-principal header .container2{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;   
        width: 300px; 
    }

    .filme-principal{
        min-height: 600px;
    }
}

@media screen and (max-width:280px){
    .botao{
        max-width: 90%;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}